---
import type { CollectionEntry } from 'astro:content'
import type { LanguageKeys } from '@/i18n'
import AccordionEvents from '@/components/vue/AccordionEvents.vue'
import { useTranslations } from '@/i18n'
import Container from '../vue/Container.vue'

interface Props {
  page: CollectionEntry<'index'>
  lang: LanguageKeys
}
const { page, lang } = Astro.props

const t = useTranslations(lang)
---

<section id="events">
  <Container>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 space-y-4 md:col-span-3">
        <span class="font-mono text-xs tracking-wider opacity-40">02</span>
        <h2 class="text-5xl leading-tight font-light md:text-6xl">{t('landing.whatWeDo')}</h2>
      </div>
      <div class="col-span-12 md:col-span-8 md:col-start-5">
        <div class="space-y-0">
          <AccordionEvents items={page.data.events} client:visible />
        </div>
      </div>
    </div>
  </Container>
</section>
