@import 'tailwindcss';
@import 'tw-animate-css';
@import 'lenis/dist/lenis.css';

:root {
  --ui-container: 115rem;

  --duration-circle-in: 0.8s;
  --duration-circle-out: 0.6s;

  --background: oklch(0.98 0.01 60);
  --foreground: oklch(0.12 0 0);
  --primary: oklch(90.95% 0.162 97.41);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --border: oklch(0.922 0 0);
  --border-dark: oklch(0.145 0 0 / 0.1);
  --ring: oklch(0.708 0 0);
}

@theme {
  --font-sans: var(--font-cabinet), sans-serif, system-ui;
  --font-mono: var(--font-ibm-mono), monospace;

  --animate-circle-in: circle-in var(--duration-circle-in) cubic-bezier(0.4, 0, 0.2, 1);
  --animate-circle-out: circle-out var(--duration-circle-in) cubic-bezier(0.6, 0, 0.4, 1);
  --animate-marquee: marquee var(--duration-marquee) linear infinite;

  @keyframes circle-in {
    from {
      clip-path: circle(0% at 50% 50%);
    }
    to {
      clip-path: circle(150% at 50% 50%);
    }
  }

  @keyframes circle-out {
    from {
      clip-path: circle(150% at 50% 50%);
    }
    to {
      clip-path: circle(0% at 50% 50%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border-dark outline-ring/50;
  }

  body {
    @apply bg-primary text-foreground antialiased cursor-none! select-none! overflow-x-hidden;
  }

  ::selection {
    @apply bg-accent/20;
  }

  a,
  button {
    cursor: none;
  }
}
