---
import { Icon } from 'astro-icon/components'
---

<div class="z-20 hidden w-10 shrink-0 flex-col items-center border-r border-border bg-panel py-2 md:flex">
  <button
    class="mb-4 flex size-6 items-center justify-center rounded-sm text-primary transition-colors hover:bg-surface"
    title="Open Documents"
  >
    <span class="sr-only">Open Documents</span>
    <Icon name="hugeicons:files-01" class="size-5" />
  </button>
</div>
