---
  import { Icon } from "astro-icon/components";

  interface Props {
    title?: string;
  }

  const { title } = Astro.props;
---
<div
  class="flex h-9 items-end overflow-x-auto border-b border-border bg-panel px-2"
>
  <button
    class="mr-2 h-full p-2 text-foreground-muted transition-colors hover:text-foreground md:hidden"
    data-sidebar-toggle="open"
    aria-controls="mobile-sidebar"
    aria-expanded="false"
  >
    <Icon name="hugeicons:menu-01" class="size-4"/>
    <span class="sr-only">Toggle sidebar</span>
  </button>
  <div class="mr-4 flex h-full items-center gap-1 text-foreground-muted">
    <button
      data-nav="back"
      aria-label="Kembali"
      class="rounded-sm p-1 transition-colors hover:bg-surface hover:text-foreground"
    >
      <Icon name="hugeicons:arrow-left-01" class="size-4"/>
    </button>
    <button
      data-nav="forward"
      aria-label="Berikutnya"
      class="rounded-sm p-1 transition-colors hover:bg-surface hover:text-foreground"
    >
      <Icon name="hugeicons:arrow-right-01" class="size-4"/>
    </button>
  </div>
  {
    title && (
      <div class="flex min-w-38 items-center gap-2 rounded-t-md border-x border-t border-b-2 border-border border-b-primary bg-background px-4 py-1.5 text-xs text-foreground">
        <Icon name="hugeicons:file-02" class="size-3 text-primary" />
        <span class="truncate">{title}</span>
        <a class="ml-auto rounded-sm p-0.5 transition-colors hover:bg-surface" href="/" aria-label="Tutup dokumen">
          <Icon name="hugeicons:cancel-01" />
        </a>
      </div>
    )
  }
</div>
<script src="@/assets/scripts/navigation-button"></script>
