---
import type { LanguageKeys } from '@/i18n/ui'
import { getLangFromUrl } from '@/i18n/utils'
import { cn } from '@/lib/utils'
import { siteConfig } from '@/site.config'
import LinkLocal from './LinkLocal.astro'

interface Props {
  class?: string
  langClass?: string
  activeLangClass?: string
}

const { class: className = '', langClass = '', activeLangClass = '' } = Astro.props

const { languages } = siteConfig.i18n
const languageKeys = Object.keys(languages) as Array<LanguageKeys>
const isActiveLang = (code: string) => code === getLangFromUrl(Astro.url)
---

<div class={className}>
  {
    languageKeys.map((lang, i) => (
      <>
        <LinkLocal
          href={Astro.url.pathname}
          locale={lang}
          class={cn(langClass, {
            [activeLangClass]: isActiveLang(lang),
          })}
        >
          {lang}
        </LinkLocal>
        {i < Object.keys(languages).length - 1 ? <slot name="separator" /> : null}
      </>
    ))
  }
</div>
