---
import type { HTMLAttributes } from 'astro/types'
import type { LanguageKeys } from '@/i18n/ui'
import { getLangFromUrl, isLinkActive, useTranslatedPath } from '@/i18n/utils'
import { cn } from '@/lib/utils'

interface Props extends HTMLAttributes<'a'> {
  href: string
  locale?: LanguageKeys
  activeClass?: string
}

const { href, class: className = '', activeClass = '', locale, ...props } = Astro.props

const baseOrigin = Astro.url.origin
const parsedUrl = new URL(href, baseOrigin)
const isExternal = parsedUrl.origin !== baseOrigin

let finalHref: string
let isActive: boolean

if (isExternal) {
  finalHref = href
  isActive = false
}
 else {
  const lang = locale ?? getLangFromUrl(Astro.url)
  const translatePath = useTranslatedPath(lang)

  const translatedPath = translatePath(parsedUrl.pathname)
  finalHref = `${translatedPath}${parsedUrl.search}${parsedUrl.hash}`

  isActive = isLinkActive(href, Astro.url, baseOrigin)
}
---

<a
  href={finalHref}
  class={cn(className, {
    [activeClass]: isActive,
  })}
  {...props}
>
  <slot />
</a>
