---
  import type { CollectionEntry } from "astro:content";
  import type { LanguageKeys } from "@/i18n";
  import { useTranslations } from "@/i18n";
  import Container from "../vue/Container.vue";

  interface Props {
    page: CollectionEntry<"index">;
    lang: LanguageKeys;
  }
  const { page, lang } = Astro.props;

  const t = useTranslations(lang);
  const paragraphs = page.data.about.split("\n").filter(Boolean);
---
<section
  id="about"
  class="bg-background relative border-t border-foreground/10"
>
  <Container grid class="gap-y-16 py-32 md:py-40 lg:py-56">
    <div class="col-span-12 md:col-span-4 lg:col-span-3">
      <h2
        class="text-4xl leading-none font-bold tracking-tight uppercase md:text-5xl lg:text-6xl"
      >
        {t('landing.whoWeAre')}
      </h2>
    </div>
    <div
      class="col-span-12 space-y-10 md:col-span-8 md:col-start-5 lg:col-span-7 lg:col-start-5"
    >
      {
        paragraphs.map((paragraph, i) => (
          <p
            class={
              i === 0
                ? `text-2xl leading-snug font-medium tracking-tight md:text-3xl lg:text-4xl text-balance`
                : 'text-xl leading-relaxed opacity-70 md:text-2xl font-normal max-w-[65ch]'
            }
          >
            {paragraph}
          </p>
        ))
      }
    </div>
  </Container>
</section>
